h1{
  color:red;
  font-size:52px;
  background-color: aqua;
}
h2{
  color:hotpink;
  font-size:24px;
}

.top-heading{
  color:rgb(92, 47, 255);
  font-size:52px;
  display: inline;
  border: 2px dotted sandybrown;
  padding: 10px;
  margin: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bottom-heading{
  color:purple;
  font-size:24px;
}

.grey-box{
  background-color: grey;
  padding: 20px;
  width: 400px;
  height: auto;
  border: 20px solid;
  padding: 4px;
  margin: 20px;
}

/* General img styles */
img {
  max-width: 30%; /* Scale down to fit the container */
  height: auto; /* Maintain aspect ratio */
}

@media (min-width: 501px) {
  /* For screens wider than 500px */
  .grey-box {
    width: 90%;
    background-color: lightgrey;
  }
}

