.grid-parent {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
}

.grid-item{
  background: pink;
}

.big-grid-item{
  grid-column: 1 / 9;
 
}

.lonely-grid-item{
  grid-column: 8/9;
}